body,html {
    margin: 0;
    padding: 0;
    background: #000100;
    font-family: Montserrat;
}

h1,h2,h3 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    transition: .2s;
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: .2s;
}

a:hover {
    color: #fff;
}

a:hover::after {
    width: 100%;
}

/* header -------------------------------------- */

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.header img {
    width: 100px;
}

.header__nav,
.header__links,
.header__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    width: 88%;
    margin-left: 60px;
}

.header__links {
    max-width: 520px;
    width: 100%;
}

.header__tools {
    max-width: 120px;
    width: 100%;
}

.header__tools img {
    width: 20px;
    height: 20px;

}

hr {
    width: 100%;
    height: .5px;
    background: rgba(255,255,255,.2);
    border: none;
    outline: none;
    margin: 0;
}

/* intro -------------------------------------- */

.intro {
    width: 100%;
}

.intro__text {
    margin-left: 170px;
    margin-top: 60px;
    position: relative;
    z-index: 2;
}

.intro__text h1 {
    font-size: 120px;
    text-transform: uppercase;
}

.intro__text p {
    color: rgba(255, 255, 255, .5);
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 2;
}

.intro__text a.intro__link {
    color: #fff;
    font-weight: bolder;
}

.intro__text a::after {
    width: 100%;
    background: rgba(255,255,255, .5);
}

p.intro__sub-title {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.intro__sub-title::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 1.5px;
    background: #fff;
    transform: translateY(-4px);
    margin-right: 10px;
}

.intro > img {
    max-width: 450px;
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute; 
    top: 0;
    right: 320px;
    z-index: 1;
}

.intro__img-column {
    max-width: 300px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 140px;
}

.intro__img-column img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.intro__img-column img:first-child {
    margin-bottom: 30px;
    height: 350px;
}

.intro__img-column img:last-child {
    height: 600px;
}

.screen {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 120vh;
}

.screen div {
    width: 100%;
    height: 33%;
    background: #ec1417;
}

@media (max-width: 855px) {
    
    .intro__text h1 {
        font-size: 100px;
    }
    
    .header__tools {
        display: none;
    }

    .header__nav {
        justify-content: center;
        margin-left: 0;
    }

    .header__links {
        max-width: 400px;
        justify-content: space-between;
    }
}

@media (max-width: 650px) {
    .intro__text {
        margin-left: 45px;
    }

    .intro__text h1 {
        font-size: 90px;
    }

    .intro__img-column {
        max-width: 240px;
    }

    .intro > img {
        right: 260px;
    }
}

@media (max-width: 485px) {
    
    .intro > img {
        right: 220px;
        max-width: 350px;
    }

    .intro__text {
        margin-left: 20px;
    }
    
    .intro__text h1 {
        font-size: 70px;
    }

    .intro__img-column {
        max-width: 200px;
    }
}

@media (max-width: 365px) {
    .header__links {
        display: none;
    }

    .intro__text h1 {
        font-size: 60px;
    }
}
